/Clases/Clase 4/nbproject/private/
/Clases/Clase 4/build/
/Clases/Clase 4/dist/
/Clases/Clase5/nbproject/private/
/Clases/Clase5/build/
/Clases/Practica2/nbproject/private/
/Clases/Practica2/build/
/Clases/Clase 6 (String)/nbproject/private/
/Clases/Clase 6 (String)/build/
/Clases/Clase7 (arrays)/nbproject/private/
/Clases/Clase7 (arrays)/build/